.verify-page {
	display: flex;
	justify-content: center;
	align-items: center;
}

.verify-card {
	background: rgb(243, 242, 242);
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	max-width: 450px;
	width: 100%;
}

.verify-title {
	font-size: 24px;
	font-weight: bold;
	color: #049dd9;
}

.input-label {
	font-weight: 500;
	color: #333;
}

.custom-input {
	border-radius: 5px;
}

.otp-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.otp-input {
	width: 40px !important;
	height: 40px;
	margin: 0 5px;
	font-size: 16px;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

.otp-input:focus {
	border-color: #049dd9;
	outline: none;
}

.verify-button {
	background-color: #049dd9;
	border-color: #049dd9;
	border-radius: 5px;
}

.verify-button:hover {
	background-color: #0388b5;
	border-color: #0388b5;
}

.resend-link {
	color: #049dd9;
	text-decoration: none;
}

.resend-link:hover {
	text-decoration: underline;
}