.profile-title {
	color: #049dd9 !important;
}

.info-section {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 15px;
	max-width: 600px;
	margin-top: 20px;
}

.info-section .ant-typography-strong {
	color: #049dd9;
}

.info-section .ant-typography {
	color: #4b5e8e;
}